body {
    background-color: #f5ebe0;
    text-align: center;
    margin: 0 auto;
    font-family: 'Bona Nova', serif;
}

#imagem_perfil {
    display: block;
    margin: 0 auto;
    width: 15%;
    border-radius: 100%;
}

h1 {
    color: #333d29;
    font-weight: bold 700;
    font-size: 45px;
    text-transform: uppercase;
}

h2 {
    color: #414833;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

h3 {
    color: #656d4a;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.subtitulo_primario {
    color: #414833;
    text-align: center;
}

.resumo {
    color: #7f4f24;
    font-weight: 530;
    font-size: 20px;
    line-height: 130%;
    padding-block: 10px;
    border: 1px;
    border-style: solid;
    border-color: #606c38;

}

#lista-hab ul li {
    color: #7f4f24;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    width: 98%;
    justify-content: space-around;
    }

.subtitulo_secundario {
    color: #656d4a;
}

.mae {
    border: 1px;
    border-style: solid;
    border-color: #606c38;
    color: #283618;
    font-size: 20px;
    align-items: center;
    margi
    width: 20%;
    padding: 25px;
    line-height: 90%;   
}

.filha td {
    color: #bc6c25;
    font-size: 22px;
    border: 1px;
    border-style: solid;
    border-color: #606c38;
    width: 30%;
    padding: 10px;
    line-height: 20px;
}

label {
    color: #283618;
    font-size: 20px;
    line-height: 250%;
    padding: 4px;
}

.botao {

    color: #283618;
    font-size: 15px;
    border: 1px;
    border-style: outset;
    border-radius: 25px;
    background-color: #fec89a;
}

a {
   color: #bc6c25;
   font-size: 23px;
}

.rede-social {
    text-decoration: none;
}

.logo {
    width: 30px;
}

.copyright {
    color: black;
    font-size: small;
}

table > thead > th{

} 