body {
    background-color: #f5ebe0;
    font-family: 'Bona Nova', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

#imagem_perfil {
    display: flex;
    margin: 0 auto;
    width: 15%;
    border-radius: 80px;
}

h1 {
    color: #333d29;
    font-weight: bold 700;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #414833;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-top: 2px;
    margin-bottom: 5%;
}

h3 {
    color: #656d4a;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.subtitulo_primario {
    color: #414833;
    text-align: center;
}

.resumo {
    color: #7f4f24;
    font-weight: 530;
    font-size: 20px;
    line-height: 15%;
    padding-block: 10px;
    border: 1px;
    border-style: solid;
    border-color: #606c38;
    text-align: center;
    width: 1000px;
    margin-left: 22.5%;
    margin-bottom: 5%;

}

#lista-hab ul li {
    color: #7f4f24;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    width: 98%;
    justify-content: space-around;
    }

.subtitulo_secundario {
    color: #656d4a;
    text-align: center;
}

.tabela {
    display: flex;
    margin-left: 11.5%;
}

.mae {
    border: 1px;
    border-style: solid;
    border-color: #606c38;
    color: #283618;
    font-size: 20px;
    align-items: center;
    padding: 25px;
    line-height: 90%;   
}

.filha td {
    color: #bc6c25;
    font-size: 24px;
    border: 1px;
    border-style: solid;
    border-color: #606c38;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}

.container-contato {
    color: #bc6c25;
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
    padding: 4px;
    display: flex;
    margin-left: 38%;
    align-items: center;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.botao {
    color: #283618;
    font-size: 15px;
    border: 1px;
    border-style: outset;
    border-radius: 25px;
    background-color: #fec89a;
}

.link {
    font-size: 23px;
    font-weight: 500;
    color: #bc6c25;
    text-decoration: none;
    text-align: center;
}

.logo {
    width: 30px;
    margin-left: 39%;
}

.copyright {
    color: black;
    font-size: small;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-top: 4%;
}

/*
table > thead > th{
}
*/